.head{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right,rgb(138, 26, 218),rgb(48, 48, 221));
}
.icon{
    margin-left: 200px;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-right: 450px;
    margin-top: 50px;
    color: white;
}
.menu1{
    width: 50px;
    padding: 10px;
}
.menu2{
    width: 50px;
    padding: 10px;
}
.menu3{
    width: 50px;
    padding: 10px;
}
.menu4{
    width: 50px;
    padding: 10px;
}
.button{
    color: white;
    background-color: orange;
    padding: 10px;
}
.cont{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right,rgb(138, 26, 218),rgb(48, 48, 221));
    border-radius: 0 0 20vw 0;
    height: 400px;
    color: white;
}
.left{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 175px;
}
.right{
    display: flex;
    width: 50%;
}
.big{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.r1{
    width: 250px;
    height: 200px;
}
.r2{
    width: 250px;
    height: 200px;
}
.r3{
    width: 250px;
    height: 200px;
}
.r4{
    width: 250px;
    height: 200px;
}
.r5{
    width: 250px;
    height: 200px;
}
.r6{
    width: 250px;
    height: 200px;
}
.r7{
    width: 250px;
    height: 200px;
}
.r8{
    width: 250px;
    height: 200px;
}
.r9{
    width: 250px;
    height: 200px;
}
.r10{
    width: 250px;
    height: 200px;
}
.row2{
    display: flex;
    justify-content: space-between;
}
#view{
    margin-right: 45%;
    margin-left: 45%;
    padding: 10px;
}
.small{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(13, 121, 163);
    border: 5px solid rgb(13, 121, 163);
}
.l1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    padding: 5px;
    width: 20%;
    height: 25%;
    background-color: white;
}
.l2{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 20%;
    height: 25%;
}
.l3{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 20%;
    height: 25%;
}
.l4{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    width: 20%;
    margin-right: 120px;
    height: 25%;
}
.choose{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid gray;
}
.why{
    display:flex;
    width: 30%;
    height: 50%;
    text-align: center;
    flex-direction: column;
}
.layer{
    display: flex;
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
    flex-direction: column;
}
.one{
    display: flex;
    width: 75%;
    height: 150px;
    padding: 5px;
    flex-wrap: wrap;
    font-size: small;
}
.two{
    width: 75%;
    height: 150px;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    padding: 5px;
    font-size: small;
}
.three{
    width: 75%;
    height: 150px;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    padding: 5px;
    font-size: small;
}
.thin{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lab{
    display: flex;
    height: 100px;
    text-align: left;
    margin-left: 150px;
}
.num{
    display: flex;
    height: 100px;
    text-align: left;
    padding: 0%;
    margin-right: 100px;
    flex-direction: row;
}
.box{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    flex-wrap: wrap;
    background-color: rgb(252, 229, 213);
}
.first{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 350px;
    border: 1px solid gray;
    box-shadow: grey;
}
.second{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 350px;
    border: 1px solid gray;
    box-shadow: grey;
}
.third{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 350px;
    border: 1px solid gray;
    box-shadow: grey;
}
.fourth{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 350px;
    border: 1px solid gray;
    box-shadow: grey;
}
.form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 200px;
    margin-left: 200px;
    background-color: rgb(231, 231, 247);
}
input{
    width: 53%;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 6px;
    background: transparent;
    border-color: rgb(0, 0, 0);
    color: rgb(245, 90, 90);
    font-size: 15px;
}
#in{
    width: 40%;
}
#email{
    width: 60%;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.logo{

}
.list1{

}
.list2{

}
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.cr{

}
.pow{

}